<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WatchListApp</title>
  </head>

  <body>
    {% if current_user.is_authenticated %}
    <p>Logged in as {{ current_user.name }}
      <a href="{{ url_for('auth_logout') }}">Log out</a>
    </p>
    {% else %}
    <a href="{{ url_for('auth_login') }}">Log in</a><span> or </span>
    <a href="{{ url_for('auth_register') }}">Create a new account</a>
    {% endif %}
    <ul>
      <li><a href="{{ url_for('lists_index') }}">Show all lists</a></li>
      <li><a href="{{ url_for('lists_form') }}">Add a new list</a></li>
    </ul>
    {% block body %}
      <p>
        Content.
      </p>
    {% endblock %}
  </body>
</html>

