{% extends "layout.html" %}

{% block body %}

<h2>{{ name }}</h2>
<div class="container">
    <div class="row">
        <a href="{{ url_for('lists_update', list_id=list_id) }}">Rename this watchlist</a>
    </div>
</div>
<div class="container">
    <div class="row">
        <a href="{{ url_for('content_form', list_id=list_id) }}">Add a show or a movie</a>
    </div>
</div>
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Length</th>
        <th>Category</th>
        <th>Content provider</th>
    </tr>
    {% for item in contentlist %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.length }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.cdn }}</td>
       
    </tr>
    {% endfor %}
</table>
<h5>Total length: {{ watchlist_length }} minutes</h5>

{% endblock %}
